/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 * header background source: https://bestfoodrestaurants.files.wordpress.com/2016/05/italian-food-banner.jpg?w=810
 */
 body {margin: 8px !important;}
 
 #banner {
 	background-image:  	url("food-banner.jpg");
	background-repeat: 	no-repeat;
	background-size: 	100% ;
	height: 			50px;
 	position:			relative;
 	padding: 			4%; 

 	.title {
		font-size: 	 5em;
		font-family: Impact;
		font-weight: bold;
		color: 		 white;
		position: relative;
	}
 }

#search-form {
	padding-top: 15px;
	position: relative;
}

#user_links {
	font-size: 	1.5em;
	float: 		right;
	color: 		white;
	position: 	absolute;
	bottom: 	0;
	right: 		0;
	padding: 	5px;
}
 

 
 
 
 
 
 
 
