// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Header stylings
h1 {
	font-size: 2.75em;
	margin-left: 10%;
	margin-right: 10%;
}

// Table stylings
table, td {
	border-top: 	3px dotted black;
 	border-bottom: 	3px dotted black;
 	border-collapse: collapse;
 	width: 80%;
 	margin-left: 10%;
 	margin-right: 10%;
 	
 	dt {
	font-size: 1.6em;
	padding: 10px;
	font-weight: bold;
	}
	
	dd {
	padding: .2em;
	font-size: 1.5em;
	}
}

// Fieldset stylings
fieldset {
	width: 80%; 
	margin-left: 10%;
	margin-right: 10%;
	border-right: none;
	border-left: none;
	border-top: 3px dotted black;
	border-bottom: 3px dotted black;
	
	legend {
		font-size: 1.75em;
	}
	
	.field {
		font-weight: bold;
	}
	
	input {
		width: 100%;
		max-width: 300px;
	}

}


// Link stylings 
.votes, .links, #partial_links {
	text-align: center;
	font-size: 1.25em;
	width: 15%;
}

#partial_links{
	margin-left: 8%;
	padding: 5px;
}

// Keep two things on the same line but on different sides
.left {
 	float: left;	 	
 }
 
 .right {
 	float: right;
 }
 
 // JavaScript Credit given to: 
 // http://jsfiddle.net/sushanth009/9kAdP/
 img:hover{
    behavior:url(-ms-transform.htc);
    /* Firefox */
    -moz-transform:rotate(45deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(45deg);
    /* Opera */
    -o-transform:rotate(45deg);
    /* IE9 */
    -ms-transform:rotate(45deg);
    /* IE6,IE7 */
    
    text-decoration: none;
}
