// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.th_users_table {
	padding: 10px;
	font-size: 1.5em;
}

.td_users_table {
	padding: 5px;
	font-size: 1.25em;
}

.user_vote_icon {
	height: 40px;
	width: 40px;
	float: right;
}
